:root {
  --text: #e7e6f9;
  --background: #03030b;
  --primary: #8c88e3;
  --secondary: #7e1e67;
  --accent: #d34681;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background);
}

h1, p, a {
  color: var(--text);
}